<ion-modal #modal trigger="open-modal-depoimento" color="dark">
  <ng-template>
    <ion-header>
      <ion-toolbar color="degrade">
        <ion-title>Depoimento</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="modal.dismiss()">
            <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding" color="dark">
      <div class="container-depoimento">
        <p class="titulo-depoimento">
          {{depoimento.autor}}
        </p>
        <br>
        <p class="texto-depoimento" *ngFor="let paragrafo of depoimento.depoimento">
          <span> </span>{{paragrafo}}
        </p>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
