<app-header [voltar]="voltar" [titulo]="titulo"></app-header>

<ion-content [fullscreen]="true" color="dark">
  <section class="content-section">
    <ion-card color="degrade">
      <ion-card-header>
        <ion-card-title>INFORMAÇÕES</ion-card-title>
      </ion-card-header>
      <ion-card-content style="text-align: center;"  #page>
        <p>
          <strong>Titulação</strong><br> {{curso.titulacao}}
        </p>
        <p>
          <strong>Modalidade</strong><br> {{curso.modalidade}}
        </p>
        <p>
          <strong>Duração</strong><br> {{curso.duracao}}
        </p>
        <p>
          <strong>Período</strong><br> {{curso.periodo}}
        </p>
        <p>
          <strong>Área</strong><br> {{curso.area}}
        </p>
      </ion-card-content>
    </ion-card>
  </section>

  <section class="content-section">
    <ion-card color="degrade">
      <ion-card-header>
        <ion-card-title>O CURSO</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p *ngFor="let descs of curso.oCurso"><span> </span>
          {{descs}}
        </p>
      </ion-card-content>
    </ion-card>
  </section>

  <section class="content-section">
    <ion-card color="degrade">
      <ion-card-header>
        <ion-card-title>VOCÊ COMO PROFISSIONAL</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p *ngFor="let descs of curso.voceComoProfissional"><span> </span>
          {{descs}}
        </p>
        <br />
        <ion-button id="open-modal-depoimento" fill="outline">Depoimento</ion-button>
      </ion-card-content>
    </ion-card>


    <ion-modal #modal trigger="open-modal-depoimento" [presentingElement]="page" color="dark">
      <ng-template>
        <ion-header>
          <ion-toolbar color="degrade">
            <ion-title>Depoimento</ion-title>
            <ion-buttons slot="end">
              <ion-button class="close-modal" (click)="modal.dismiss()">Fechar</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding" color="dark">
          <p>
            To close this modal, please use the "Close" button provided. Note that swiping the modal will not dismiss
            it.
          </p>
        </ion-content>
      </ng-template>
    </ion-modal>


  </section>

  <section class="content-section">
    <ion-card color="degrade">
      <ion-card-header>
        <ion-card-title>SEU FUTURO</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p *ngFor="let descs of curso.seuFuturo"><span> </span>
          {{descs}}
        </p>
      </ion-card-content>
    </ion-card>
  </section>

  <section class="content-section">
    <ion-card color="degrade">
      <ion-card-header>
        <ion-card-title>COORDENAÇÃO</ion-card-title>
      </ion-card-header>
      <ion-card-content style="text-align: center;">
        <p>
          <strong>Telefone:</strong> {{curso.telefone}}
        </p>
        <p>
          <strong>E-mail:</strong> {{curso.email}}
        </p>
      </ion-card-content>
    </ion-card>
  </section>

  <section class="content-section">
    <ion-button fill="outline" id="open-modal">MAIS INFORMAÇÕES</ion-button>
    <app-mais-informacoes [id]="curso.id"></app-mais-informacoes>
  </section>
</ion-content>
