<app-header [voltar]="voltar" [titulo]="titulo"></app-header>

<ion-content [fullscreen]="true" color="dark">
  <section class="content-section">
    <ion-card color="degrade">
      <ion-card-header>
        <ion-card-title>O CURSO</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><span> </span>
            O mundo gamer é a casa dos profissionais de Jogos Digitais! Inovação e criatividade são a porta de entrada para essa graduação, que forma profissionais com conhecimentos dinâmicos relacionados ao processo de desenvolvimento do entretenimento digital interativo. 
        </p>
        <p><span> </span>
            O curso promove sua capacitação de modo multidisciplinar para a sistematização no desenvolvimento e gestão de projetos, além da criação de roteiros e personagens, desenvolvimento gráfico, sonorização, motores de jogos (game engines), inteligência artificial e gestão de projetos de jogos, empreendedorismo, marketing e publicação de produtos finais.
        <p><span> </span>
            Durante o curso o estudante tem contato com disciplinas teóricas e práticas que possibilitam a obtenção das competências necessárias para uma atuação criativa e inovadora, como Programação, Criação de Roteiros: StoryBoard e Computação Gráfica.
        </p>
      </ion-card-content>
    </ion-card>
  </section>

  <section class="content-section">
    <ion-card color="degrade">
      <ion-card-header>
        <ion-card-title>VOCÊ COMO PROFISSIONAL</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><span> </span>
            A principal área de atuação do profissional de Jogos Digitais é o entretenimento digital, em que é responsável pelo desenvolvimento de produtos tais como: jogos educativos, de marketing, de treinamento empresarial, na saúde, científicos, militares, dentre outros. Além disso, pode desempenhar funções como roteirista, artista gráfico, designer de áudio, testador de jogos, programador e redator. As possibilidades são inúmeras!
        </p>
      </ion-card-content>
    </ion-card>
  </section>

  <section class="content-section">
    <ion-card color="degrade">
      <ion-card-header>
        <ion-card-title>SEU FUTURO</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><span> </span>
            O Brasil é o principal mercado de jogos da América Latina, estando entre um dos maiores do mundo. Com isso, a demanda por profissionais qualificados para todo o processo de desenvolvimento, gestão e inovação do entretenimento no país é crescente.
        </p>
        <p><span> </span>
            Além disso, outros setores como educação, setor de treinamento profissional e Marketing estão cada vez mais interessados nas habilidades do tecnólogo em Jogos Digitais. Profissionais antenados com as novidades do mercado, criativos e inovadores terão um futuro promissor.
        </p>
      </ion-card-content>
    </ion-card>
  </section>

  <section class="content-section">
    <a href="">MAIS INFORMAÇÕES</a>
  </section>
</ion-content>
