.flex-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.unisagrado {
  top: 0;
  position: absolute;
  margin-top: 20px;
  width: 225px;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.animate__animated.animate__heartBeat {
  width: 150px;
  margin-bottom: 25px;
  --animate-duration: 2500ms;
}
