
<app-header [voltar]="voltar" [titulo]="titulo"></app-header>

<ion-content [fullscreen]="true" color="dark">
    <div class="contents-CC">
        <ion-card class="card-90">
        <br />
            <ion-card-header>
                <ion-card-title class="title-card">O CURSO</ion-card-title>
            </ion-card-header>
        <br />
            <ion-card-content class="txt-justify">
                &nbsp;&nbsp;&nbsp;Desafios, tecnologias e mundo digital: o universo da computação é para pessoas antenadas nesses assuntos. 
                <br><br>
                &nbsp;&nbsp;&nbsp;O <strong>bacharelado em Ciência da Computação</strong> forma profissionais capazes não só de propor soluções de problemas, mas também de inovar e promover a evolução tecnológica da computação e da informática. 
                <br><br>
                &nbsp;&nbsp;&nbsp;A formação do estudante vai além da teoria, são utilizados métodos práticos em laboratórios altamente equipados para complementar os fundamentos apresentados em disciplinas, tais como Linguagens de programação, Realidade Virtual e Inteligência Artificial.
            </ion-card-content>
        </ion-card>
    </div>
    <br />
    <div class="contents-CC">
        <ion-card class="card-90">
        <br />
            <ion-card-header>
                <ion-card-title class="title-card">VOCÊ COMO PROFISSIONAL</ion-card-title>
            </ion-card-header>
        <br />
            <ion-card-content class="txt-justify">
                &nbsp;&nbsp;&nbsp;A área de atuação de um profissional de Ciência da Computação abrange a Tecnologia da Informação, que é um mercado em crescimento na atualidade. 
                <br><br>
                &nbsp;&nbsp;&nbsp;O cientista da computação poderá atuar em projetos computacionais de hardware e software: projeto de infraestrutura de tecnologia, gerenciamento e bancos de dados, análise de sistemas, segurança da informação, organização de projetos, comunicação e transmissão de dados, indústria de entretenimento através da utilização de computação gráfica, multimídia e realidade virtual.
                <br><br>
                &nbsp;&nbsp;&nbsp;E não para por aí! A carreira acadêmica é uma ótima opção para quem se interessa por pesquisa e pela docência.
            </ion-card-content>
        </ion-card>
    </div>
    <br />
    <div class="contents-CC">
        <ion-card class="card-90">
        <br />
            <ion-card-header>
                <ion-card-title class="title-card">SEU FUTURO</ion-card-title>
            </ion-card-header>
        <br />
            <ion-card-content class="txt-justify">
                &nbsp;&nbsp;&nbsp;De olho no futuro e acompanhando as tendências na indústria da informação, pode-se dizer que o mercado de atuação está cada vez mais amplo e exigente, sendo a formação profissional cada vez mais essencial.
                <br><br>
                &nbsp;&nbsp;&nbsp;Grande parte das empresas públicas e privadas utiliza algum tipo de tecnologia para desenvolver suas atividades, necessitando de criação, programação, análise, suporte e inovação.
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>
