<app-header [titulo]="titulo"> </app-header>

<ion-content [fullscreen]="true" color="dark">
  <div>
    <section class="logos">
      <ion-list lines="none">
        <ion-list-header color="dark">
          <ion-label>DESENVOLVIMENTO</ion-label>
        </ion-list-header>
        <ion-item color="dark">
          <div class="img">
            <img src="assets/imgs/creditos/bcc.jpg" alt="Logo de BCC">
          </div>
        </ion-item>
      </ion-list>
    </section>

    <hr>

    <section class="devs">
      <ion-list lines="none">
        <ion-list-header color="dark">
          <ion-label>DESENVOLVEDORES</ion-label>
        </ion-list-header>
        <ion-item color="dark" *ngFor="let dev of devs">
          <ion-label>
            {{dev}}
          </ion-label>
        </ion-item>
      </ion-list>
    </section>

    <hr>

    <section class="disciplina">
      <ion-list lines="none">
        <ion-list-header color="dark">
          <ion-label>DISCIPLINA</ion-label>
        </ion-list-header>
        <ion-item color="dark">
          <ion-label>
            {{disciplina}}
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-list lines="none">
        <ion-list-header color="dark">
          <ion-label>PROFESSOR</ion-label>
        </ion-list-header>
        <ion-item color="dark">
          <ion-label>
            {{professor}}
          </ion-label>
        </ion-item>
      </ion-list>
    </section>

    <hr>

    <section class="logos">
      <ion-list lines="none">
        <ion-list-header color="dark">
          <ion-label>APOIO</ion-label>
        </ion-list-header>
        <ion-item color="dark">
          <div class="img">
            <img src="assets/imgs/creditos/coordenadoria-de-extensao.jpg" alt="Logo de Pró-retoria">
          </div>
        </ion-item>
      </ion-list>
    </section>
  </div>
</ion-content>
