<app-header [titulo]="titulo"> </app-header>

<ion-content [fullscreen]="true" color="dark">
    <section class="content-section">
        <ion-card color="degrade">
          <ion-card-header>
            <ion-card-title>DESENVOLVEDORES</ion-card-title>
          </ion-card-header>
          <br>
          <ion-card-content>
            <p><span> </span>
                Échelly Paiva
            </p>
            <p><span> </span>
                Gabriel José Soto Ravanhan
            </p>
            <p><span> </span>
                Larissa Alves de Souza
            </p>
            <p><span> </span>
                Samuel Fernandes Monteiro
            </p>
          </ion-card-content>
        </ion-card>
      </section>

      <section class="content-section">
        <ion-card color="degrade">
          <ion-card-header>
            <ion-card-title>PROFESSORES</ion-card-title>
          </ion-card-header>
          <br>
          <ion-card-content>
            <p><span> </span>
                Dr. Elvio Gilberto da Silva
            </p>
            <p><span> </span>
                M.e Robson Fernandes da Silva
            </p>
          </ion-card-content>
        </ion-card>
      </section>
</ion-content>
