<app-header [titulo]="titulo"></app-header>

<ion-content [fullscreen]="true" color="dark">
    <section class="labs">
        <div class="cards-labs">
            <ion-button class="btn-card" button="true" (click)="redirectF008();">
                <ion-card class="card-media-labs">
                    <ion-card-header class="header-card">
                        F-008
                    </ion-card-header>
                </ion-card>
            </ion-button>
        </div>

        <div class="cards-labs">
            <ion-button class="btn-card" button="true">
                <ion-card class="card-media-labs">
                    <ion-card-header class="header-card">
                        F-102
                    </ion-card-header>
                </ion-card>
            </ion-button>
        </div>

        <div class="cards-labs">
            <ion-button class="btn-card" button="true">
                <ion-card class="card-media-labs">
                    <ion-card-header class="header-card">
                        F-108
                    </ion-card-header>
                </ion-card>
            </ion-button>
        </div>
    </section>
</ion-content>
