<app-header [titulo]="titulo"></app-header>

<ion-content [fullscreen]="true" color="dark">
  <section class="align-center">
    <div class="cards-labs" *ngFor="let laboratorio of laboratorios">
      <ion-button class="btn-card" button="true" [routerLink]="'/laboratorio/' + laboratorio.id">
        <ion-card class="card-media-labs">
          <ion-card-header class="header-card">
            {{laboratorio.nome}}
          </ion-card-header>
        </ion-card>
      </ion-button>
    </div>
  </section>
</ion-content>
