<app-header [titulo]="titulo"></app-header>

<ion-content [fullscreen]="true" color="dark">

  <div class="cards-home">
    <ion-button class="btn-card" button="true" (click)="redirectCC()">
      <ion-card class="card-media-home">
        <div class="img-container">
          <img class="card-img" alt="Silhouette of mountains" src="assets/imgs/cursos/ciencia-da-computacao.jpg" />
        </div>
        <ion-card-header class="header-card">
          Ciência da Computação
        </ion-card-header>
      </ion-card>
    </ion-button>
  </div>

  <div class="cards-home">
    <ion-button class="btn-card" button="true" (click)="redirectJD()">
      <ion-card class="card-media-home">
        <div class="img-container">
          <img class="card-img" alt="Silhouette of mountains" src="assets/imgs/cursos/jogos-digitais.jpg" />
        </div>
        <ion-card-header class="header-card">
          Jogos Digitais
        </ion-card-header>
      </ion-card>
    </ion-button>
  </div>
</ion-content>
